/*
 * Block
 */

.panel-button {}

/*
 * Element
 */

.panel-button__label {}

.panel-button__popup-menu {
    width: 300px;
}

.panel-button__input-container {
    padding: 7px 30px;
}

.panel-button__sep {}

.panel-button__hour {}

.panel-button__min {}

.panel-button__sec {}

/*
 * Modifier
 */

